html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.004);
    -moz-osx-font-smoothing: grayscale;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.container-1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 500;
}

p {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #3e3d3d;
    margin: 0;
}

.modal-description {
    display: none;
}

.container-2 {
    width: 100%;
}

.people {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 50px;
}

img {
    width: 100%;
}

.team-1, .team-2 {
    display: contents;
    justify-content: center;
}

.member {
    width: 95px;
    height: 90px;
    clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
}

.member::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: linear-gradient(to right, transparent, #1779ff);
}

.member::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
}

.comb-1 .member:nth-child(2), .comb-2 .member:nth-child(4), .comb-6 .member:nth-child(1), .comb-6 .member:nth-child(3), .comb-7 .member:nth-child(1), .comb-7 .member:nth-child(2), .comb-4 .member:nth-child(1) {
    background-color: #de4360e6;
}

.member {
    background-color: #8c8ce6e6;
}

.comb-1 {
    margin-top: 50px;
}

.comb-1 .member:nth-child(1) {
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 3.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.member.loop-image-1 {
    margin-top: 12px;
}

.member.loop-image-2 {
    margin-top: 25px;
}

.comb-1 .member:nth-child(2) {
    margin-top: 25px;
    margin-left: -30px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 6.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-2 {
    margin-top: -10px;
}

.comb-2 .member:nth-child(1) {
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 9.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-2 .member:nth-child(2) {
    margin-top: 20px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 12.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-2 .member:nth-child(3) {
    margin-top: 20px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 15.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-2 .member:nth-child(4) {
    margin-top: 20px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 18.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-3 {
    margin-top: -95px;
    margin-left: 20px;
}

.comb-3 .member:nth-child(1) {
    margin-top: 32px;
    margin-left: -21px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 21.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-3 .member:nth-child(2) {
    margin-top: 25px;
    margin-left: -20px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 24.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-3 .member:nth-child(3) {
    margin-left: -19px;
    margin-top: 19px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 27.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-4 {
    margin-left: 25px;
}

.comb-4 .member:nth-child(1) {
    margin-left: -21px;
    margin-top: -17px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 30.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-4 .member:nth-child(2) {
    margin-left: -21px;
    margin-top: 35px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 33.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-5 {
    margin-left: -32px;
}

.comb-5 .member:nth-child(1) {
    margin-top: -61px;
    margin-left: -8px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 36.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-5 .member:nth-child(2) {
    margin-top: 22px;
    margin-left: -16px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 39.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-6 {
    margin-left: -12px;
}

.comb-6 .member:nth-child(1) {
    margin-top: -11px;
    margin-left: 7px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 42.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-6 .member:nth-child(2) {
    margin-top: 30px;
    margin-left: 7px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 45.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-6 .member:nth-child(3) {
    margin-top: 24px;
    margin-left: 7px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 48.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-7 {
    margin-right: 84px;
}

.comb-7 .member:nth-child(1) {
    margin-top: -64px;
    margin-left: 0px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 52.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-7 .member:nth-child(2) {
    margin-top: 24px;
    margin-left: 0px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 55.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-7 .member:nth-child(3) {
    margin-top: 26px;
    margin-left: 0px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 58.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-7 .member:nth-child(4) {
    margin-top: 74px;
    margin-left: 84px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 62.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.inter-1, .inter-2, .inter-3 {
    display: flex;
}

.inter-1 {
    margin-top: 26px;
}

.comb-8 {
    margin-left: -87px;
}

.comb-8 .outer .member {
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 64.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .inter-1 .member:nth-child(1) {
    margin-top: -6px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 68.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .inter-1 .member:nth-child(2) {
    margin-top: -67px;
    margin-left: 4px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 71.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .inter-1 .member:nth-child(3) {
    margin-top: 0px;
    margin-left: 17px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 74.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .inter-2 .member:nth-child(3) {
    margin-top: 13px;
    margin-left: 12px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 77.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .inter-2 .member:nth-child(2) {
    margin-top: -46px;
    margin-left: 4px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 80.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .inter-2 .member:nth-child(1) {
    margin-top: 8px;
    margin-left: 0px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 83.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.inter-3 {
    justify-content: center;
}

.comb-8 .inter-3 .member:nth-child(1) {
    margin-top: -40px;
    margin-left: 2px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 86.5s;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.comb-8 .outer {
    display: flex;
}

.comb-9 {
    margin-top: -114px;
    margin-left: -95px;
}

.vl {
    margin-top: 42px;
    transform: rotate(27deg);
    border-right: 3px solid #410883;
    height: 64px;
    margin-left: 93px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 0px;
    }
}

.vl-3 {
    transform: rotate(90deg);
    border-right: 3px solid #410883;
    height: 80px;
    margin-left: -19px;
    margin-top: -102px;
}

.vl-4 {
    margin-top: -96px;
    transform: rotate(336deg);
    border-right: 3px solid #410883;
    height: 60px;
    margin-left: 94px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-5 {
    margin-top: -99px;
    transform: rotate(269deg);
    border-right: 3px dotted #410883;
    height: 78px;
    margin-left: 38px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-6 {
    margin-top: -99px;
    transform: rotate(28deg);
    border-right: 3px solid #410883;
    height: 62px;
    margin-left: 97px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-7 {
    margin-top: -347px;
    transform: rotate(90deg);
    border-right: 3px solid #410883;
    height: 66px;
    margin-left: 42px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-8 {
    margin-top: -87px;
    transform: rotate(29deg);
    border-right: 3px solid #410883;
    height: 59px;
    margin-left: 92px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-9 {
    margin-top: -9px;
    transform: rotate(154deg);
    border-right: 3px solid #410883;
    height: 60px;
    margin-left: 92px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-10 {
    margin-top: -2px;
    transform: rotate(208deg);
    border-right: 3px solid #410883;
    height: 54px;
    margin-left: 93px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-11 {
    margin-top: -33px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 66px;
    margin-left: 47px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-12 {
    margin-top: -89px;
    transform: rotate(330deg);
    border-right: 3px solid #410883;
    height: 60px;
    margin-left: -5px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-13 {
    margin-top: -4px;
    transform: rotate(153deg);
    border-right: 3px solid #410883;
    height: 54px;
    margin-left: 92px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-14 {
    margin-top: -4px;
    transform: rotate(205deg);
    border-right: 3px solid #410883;
    height: 55px;
    margin-left: 95px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-15 {
    margin-top: -244px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 72px;
    margin-left: 28px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-16 {
    margin-top: -41px;
    transform: rotate(153deg);
    border-right: 3px solid #410883;
    height: 59px;
    margin-left: 77px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-17 {
    margin-top: -5px;
    transform: rotate(206deg);
    border-right: 3px solid #410883;
    height: 63px;
    margin-left: 77px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-18 {
    margin-top: -39px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 72px;
    margin-left: 25px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-19 {
    margin-top: -38px;
    transform: rotate(152deg);
    border-right: 3px solid #410883;
    height: 63px;
    margin-left: 79px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-20 {
    margin-top: -6px;
    transform: rotate(206deg);
    border-right: 3px solid #410883;
    height: 53px;
    margin-left: 79px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-21 {
    margin-top: -37px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 73px;
    margin-left: 26px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-22 {
    margin-top: -140px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 71px;
    margin-left: 22px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-23 {
    margin-top: -39px;
    transform: rotate(332deg);
    border-right: 3px solid #410883;
    height: 67px;
    margin-left: 73px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-24 {
    margin-top: -9px;
    transform: rotate(206deg);
    border-right: 3px solid #410883;
    height: 69px;
    margin-left: 74px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-25 {
    margin-top: -188px;
    transform: rotate(206deg);
    border-right: 3px solid #410883;
    height: 67px;
    margin-left: 74px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-26 {
    margin-top: 23px;
    transform: rotate(269deg);
    border-right: 3px solid rgb(65, 8, 131);
    height: 66px;
    margin-left: 122px;
    width: 10px;
    animation: 3s ease 0s 1 normal forwards running increase;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-27 {
    margin-top: -220px;
    transform: rotate(207deg);
    border-right: 3px solid rgb(65, 8, 131);
    height: 60px;
    margin-left: 5px;
    width: 10px;
    animation: 3s ease 0s 1 normal forwards running increase;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-28 {
    margin-top: -90px;
    transform: rotate(269deg);
    border-right: 3px solid rgb(65, 8, 131);
    height: 65px;
    margin-left: 51px;
    width: 10px;
    animation: 3s ease 0s 1 normal forwards running increase;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-29 {
    margin-top: -38px;
    transform: rotate(151deg);
    border-right: 3px solid rgb(65, 8, 131);
    height: 69px;
    margin-left: 100px;
    width: 10px;
    animation: 3s ease 0s 1 normal forwards running increase;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-30 {
    margin-top: -24px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 63px;
    margin-left: 45px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-31 {
    margin-top: -86px;
    transform: rotate(207deg);
    border-right: 3px solid #410883;
    height: 59px;
    margin-left: 91px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-32 {
    margin-top: -60px;
    transform: rotate(151deg);
    border-right: 3px solid #410883;
    height: 59px;
    margin-left: 1px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-33 {
    margin-top: -112px;
    transform: rotate(207deg);
    border-right: 3px solid #410883;
    height: 61px;
    margin-left: 1px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-34 {
    margin-top: -182px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 65px;
    margin-left: 48px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-35 {
    margin-top: -37px;
    transform: rotate(152deg);
    border-right: 3px solid #410883;
    height: 60px;
    margin-left: 92px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-36 {
    margin-top: -8px;
    transform: rotate(208deg);
    border-right: 3px solid #410883;
    height: 66px;
    margin-left: 90px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-37 {
    margin-top: -39px;
    transform: rotate(270deg);
    border-right: 3px solid #410883;
    height: 67px;
    margin-left: 42px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-38 {
    margin-top: -40px;
    transform: rotate(152deg);
    border-right: 3px solid #410883;
    height: 64px;
    margin-left: 90px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-39 {
    margin-top: -226px;
    transform: rotate(28deg);
    border-right: 3px solid #410883;
    height: 64px;
    margin-left: 94px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-40 {
    margin-top: -111px;
    transform: rotate(154deg);
    border-right: 3px solid #410883;
    height: 54px;
    margin-left: 98px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-41 {
    margin-top: -89px;
    transform: rotate(90deg);
    border-right: 3px solid #410883;
    height: 77px;
    margin-left: 47px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-42 {
    margin-top: -68px;
    transform: rotate(-90deg);
    border-right: 3px solid #410883;
    height: 64px;
    margin-left: 260px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-43 {
    margin-top: -35px;
    transform: rotate( 209deg);
    border-right: 3px solid #410883;
    height: 52px;
    margin-left: 212px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-44 {
    margin-top: -4px;
    transform: rotate(152deg);
    border-right: 3px solid #410883;
    height: 61px;
    margin-left: 211px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-45 {
    margin-top: -37px;
    transform: rotate( 89deg);
    border-right: 3px solid #410883;
    height: 67px;
    margin-left: 259px;
    width: 10px;
}

.vl-46 {
    margin-top: -31px;
    transform: rotate(29deg);
    border-right: 3px solid #410883;
    height: 55px;
    margin-left: 212px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-47 {
    margin-top: -7px;
    transform: rotate(152deg);
    border-right: 3px solid #410883;
    height: 58px;
    margin-left: 212px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-48 {
    margin-top: -33px;
    transform: rotate(90deg);
    border-right: 3px solid #410883;
    height: 64px;
    margin-left: 260px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-49 {
    margin-top: -35px;
    transform: rotate(28deg);
    border-right: 3px solid #410883;
    height: 54px;
    margin-left: 214px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-50 {
    margin-top: -256px;
    transform: rotate( 91deg);
    border-right: 3px solid #410883;
    height: 94px;
    margin-left: 154px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.vl-51 {
    margin-top: -35px;
    transform: rotate(28deg);
    border-right: 3px solid #410883;
    height: 54px;
    margin-left: 214px;
    width: 10px;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
}

.dots {
    position: absolute;
    background: #0000FF;
    border-radius: 50%;
    z-index: 2;
    animation: cssAnimation 0s 3s forwards;
    visibility: hidden;
}

@keyframes cssAnimation {
    to {
        visibility: visible;
    }
}

.vl span.dots {
    margin-top: -2px;
    margin-left: -2px;
    width: 7px;
    height: 7px;
}

.vl-3 span.dots:nth-child(1) {
    margin-top: 78px;
    margin-left: 114px;
    width: 7px;
    height: 7px;
}

.vl-3 span.dots:nth-child(2) {
    margin-top: -4px;
    margin-left: 114px;
    width: 7px;
    height: 7px;
}

.vl-4 span.dots {
    margin-top: -6px;
    margin-left: -2px;
    width: 7px;
    height: 7px;
}

.vl-5 span.dots {
    margin-top: -6px;
    margin-left: -2px;
    width: 7px;
    height: 7px;
}

.vl-6 span.dots {
    margin-top: -6px;
    margin-left: -2px;
    width: 7px;
    height: 7px;
}

.comb-1 span:nth-child(6) {
    top: -15px;
    right: calc(50% - 3px);
}

.vl-7 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-8 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-9 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-10 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-11 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-12 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-13 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-14 span.dots {
    top: -7px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-15 span.dots {
    top: 69px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-16 span.dots {
    top: -4px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-17 span.dots {
    top: -4px;
    left: -1px;
    width: 7px;
    height: 7px;
}

.vl-18 span.dots {
    top: -4px;
    left: -1px;
    width: 7px;
    height: 7px;
}

.vl-19 span.dots {
    top: -1px;
    left: -1px;
    width: 7px;
    height: 7px;
}

.vl-20 span.dots {
    top: -6px;
    left: -1px;
    width: 7px;
    height: 7px;
}

.vl-22 span.dots {
    top: 100px;
    left: 61px;
    width: 7px;
    height: 7px;
}

.vl-23 span.dots {
    top: -3px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-24 span.dots {
    top: -3px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-25 span.dots {
    top: -44px;
    left: -55px;
    width: 7px;
    height: 7px;
}

.vl-26 span.dots {
    top: 66px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-27 span.dots {
    top: 56px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-28 span.dots {
    top: 62px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-30 span.dots {
    top: 64px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-30 span.dots:nth-child(2) {
    margin-top: -65px;
    margin-left: 1px;
    width: 7px;
    height: 7px;
}

.vl-31 span.dots {
    top: 58px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-32 span.dots {
    top: 55px;
    left: -3px;
    width: 7px;
    height: 7px;
}

.vl-33 span.dots {
    top: 59px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-34 span.dots {
    top: 60px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-35 span.dots {
    top: -1px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-36 span.dots {
    top: -1px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-37 span.dots {
    top: -1px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-38 span.dots {
    top: -1px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-39 span.dots {
    top: -4px;
    left: -3px;
    width: 7px;
    height: 7px;
}

.vl-40 span.dots {
    top: 50px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-41 span.dots {
    top: 73px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-42 span.dots {
    top: 63px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-43 span.dots {
    top: 49px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-44 span.dots {
    top: 58px;
    left: -4px;
    width: 7px;
    height: 7px;
}

.vl-45 span.dots {
    top: 66px;
    left: 3px;
    width: 7px;
    height: 7px;
}

.vl-46 span.dots {
    top: 50px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.vl-47 span.dots {
    top: 54px;
    left: -114px;
    width: 7px;
    height: 7px;
}

.vl-48 span.dots {
    top: 62px;
    left: -3px;
    width: 7px;
    height: 7px;
}

.vl-48 span.dots:nth-child(2) {
    top: -2px;
    left: -3px;
    width: 7px;
    height: 7px;
}

.vl-49 span.dots {
    top: 53px;
    left: -2px;
    width: 7px;
    height: 7px;
}

.circle {
    margin-top: 8px;
    margin-left: -16px;
}

.circle-2 {
    margin-top: -139px;
    margin-left: -1px;
}


.line-1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-right: 4px solid #ff0080;
    margin: auto;
    animation: ani01 5s linear infinite;
}
.line-2{
    margin-top: -138px;
}
@keyframes ani01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle-image {
    height: 118px;
    width: 118px;
    -webkit-clip-path: circle(60.0% at 50% 10%);
    clip-path: circle(50.0% at 50% 50%);
    border-right: 4px solid #00ffff;
}

.circ {
    border-radius: 50%;
    width: 149px;
    height: 150px;
    display: inline-block;
    background-color: transparent;
    border-top: 9px solid transparent;
    border-left: 9px solid #470fec;
    border-right: 9px solid #470fec;
    border-bottom: 9px solid #470fec;
    transform: rotate(313deg);
    margin-top: 40px;
    margin-left: -16px;
    animation: spin 8s linear infinite;
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.member-1, .member:hover {
    transform: scale(1.1);
    background-clip: #ff800a;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 75%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(2)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4)
    }
    to {
        transform: scale(1)
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(192, 191, 191, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.footer {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .member {
        width: 80px;
        height: 75px;
        clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
    }
    .comb-1 .member:nth-child(2) {
        margin-top: 25px;
        margin-left: -5px;
    }
    .comb-2 {
        margin-top: 3px;
    }
    .comb-3 .member:nth-child(1) {
        margin-top: 50px;
        margin-left: -21px;
    }
    .comb-3 .member:nth-child(2) {
        margin-top: 16px;
        margin-left: -20px;
    }
    .comb-3 .member:nth-child(3) {
        margin-left: -19px;
        margin-top: 26px;
    }
    .comb-4 .member:nth-child(1) {
        margin-left: -21px;
        margin-top: -3px;
    }
    .comb-4 .member:nth-child(2) {
        margin-left: -21px;
        margin-top: 27px;
    }
    .comb-5 .member:nth-child(1) {
        margin-top: -39px;
        margin-left: -8px;
    }
    .vl {
        margin-top: 30px;
        height: 55px;
        margin-left: 82px;
        width: 10px;
    }
    .vl-3 {
        height: 73px;
        margin-left: -12px;
        margin-top: -86px;
    }
    .vl-4 {
        margin-top: -95px;
        margin-left: 81px;
        width: 10px;
    }
    .vl-5 {
        margin-top: -91px;
        height: 66px;
        margin-left: 38px;
        width: 10px;
    }
    .vl-6 {
        margin-top: -94px;
        margin-left: 82px;
        width: 10px;
    }
    .vl-3 span.dots:nth-child(1) {
        margin-top: 71px;
        margin-left: 92px;
        width: 7px;
        height: 7px;
    }
    .vl-3 span.dots:nth-child(2) {
        margin-top: -2px;
        margin-left: 91px;
        width: 7px;
        height: 7px;
    }
    .vl-7 {
        margin-top: -306px;
        height: 56px;
        margin-left: 35px;
    }
    .vl-8 {
        margin-top: -75px;
        height: 49px;
        margin-left: 80px;
    }
    .vl-9 {
        margin-top: -4px;
        height: 51px;
        margin-left: 78px;
    }
    .vl-10 {
        margin-top: 2px;
        height: 43px;
        margin-left: 80px;
    }
    .vl-11 {
        margin-top: -28px;
        height: 61px;
        margin-left: 39px;
    }
    .vl-12 {
        margin-top: -85px;
        height: 56px;
        margin-left: -6px;
        transform: rotate(335deg);
    }
    .vl-13 {
        margin-top: -6px;
        height: 54px;
        margin-left: 80px;
    }
    .vl-14 {
        margin-top: -4px;
        height: 48px;
        margin-left: 84px;
    }
    .vl-15 {
        margin-top: -216px;
        height: 62px;
        margin-left: 17px;
    }
    .vl-15 span.dots {
        top: 60px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-16 {
        margin-top: -36px;
        height: 54px;
        margin-left: 59px;
    }
    .vl-17 {
        margin-top: -5px;
        height: 55px;
        margin-left: 61px;
    }
    .vl-18 {
        height: 63px;
        margin-top: -32px;
        margin-left: 17px;
    }
    .vl-19 {
        margin-top: -34px;
        height: 52px;
        margin-left: 60px;
    }
    .vl-20 {
        margin-top: -6px;
        height: 51px;
        margin-left: 60px;
        transform: rotate(204deg);
    }
    .vl-21 {
        margin-top: -32px;
        height: 65px;
        margin-left: 19px;
    }
    .vl-22 {
        margin-top: -121px;
        height: 61px;
        margin-left: 15px;
    }
    .vl-22 span.dots {
        top: 83px;
        left: 49px;
        width: 7px;
        height: 7px;
    }
    .vl-23 {
        margin-top: -34px;
        height: 67px;
        margin-left: 60px;
    }
    .vl-24 {
        margin-top: -9px;
        height: 54px;
        margin-left: 64px;
    }
    .vl-25 {
        margin-top: -161px;
        height: 55px;
        margin-left: 58px;
    }
    .vl-26 {
        margin-top: 29px;
        height: 56px;
        margin-left: 105px;
    }
    .vl-26 span.dots {
        top: 53px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-27 {
        margin-top: -193px;
        height: 74px;
        margin-left: 7px;
    }
    .vl-27 span.dots {
        top: 70px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-28 {
        margin-top: -98px;
        height: 55px;
        margin-left: 50px;
    }
    .vl-28 span.dots {
        top: 48px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-29 {
        margin-top: -34px;
        height: 57px;
        margin-left: 85px;
    }
    .vl-30 {
        margin-top: -19px;
        height: 54px;
        margin-left: 38px;
    }
    .vl-30 span.dots {
        top: 52px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-30 span.dots:nth-child(2) {
        margin-top: -54px;
        margin-left: 1px;
        width: 7px;
        height: 7px;
    }
    .vl-31 {
        margin-top: -70px;
        height: 43px;
        margin-left: 78px;
    }
    .vl-31 span.dots {
        top: 40px;
        left: -3px;
        width: 7px;
        height: 7px;
    }
    .vl-32 {
        margin-top: -48px;
        margin-left: 0px;
        height: 50px;
    }
    .vl-32 span.dots {
        top: 48px;
        left: -3px;
        width: 7px;
        height: 7px;
    }
    .vl-33 {
        margin-top: -99px;
        margin-left: 1px;
        height: 51px;
    }
    .vl-33 span.dots {
        top: 49px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-34 {
        margin-top: -153px;
        height: 55px;
        margin-left: 41px;
    }
    .vl-34 span.dots {
        top: 52px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-35 {
        margin-top: -32px;
        height: 53px;
        margin-left: 79px;
    }
    .vl-36 {
        margin-top: -8px;
        height: 59px;
        margin-left: 77px;
    }
    .vl-37 {
        margin-top: -32px;
        height: 52px;
        margin-left: 42px;
    }
    .vl-38 {
        margin-top: -31px;
        transform: rotate(145deg);
        height: 57px;
        margin-left: 81px;
    }
    .vl-39 {
        margin-top: -200px;
        height: 57px;
        margin-left: 81px;
    }
    .vl-40 {
        margin-top: -96px;
        height: 44px;
        margin-left: 84px;
    }
    .vl-40 span.dots {
        top: 41px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-41 {
        margin-top: -70px;
        height: 58px;
        margin-left: 46px;
    }
    .vl-41 span.dots {
        top: 56px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-42 {
        margin-top: -59px;
        margin-left: 219px;
    }
    .vl-43 {
        margin-top: -35px;
        height: 53px;
        margin-left: 175px;
    }
    .vl-43 span.dots {
        top: 50px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-44 {
        margin-top: -4px;
        height: 52px;
        margin-left: 176px;
    }
    .vl-44 span.dots {
        top: 51px;
        left: -4px;
        width: 7px;
        height: 7px;
    }
    .vl-45 {
        margin-top: -33px;
        height: 64px;
        margin-left: 224px;
    }
    .vl-46 {
        margin-top: -37px;
        height: 46px;
        margin-left: 179px;
    }
    .vl-46 span.dots {
        top: 42px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-47 {
        margin-top: -7px;
        height: 54px;
        margin-left: 181px;
    }
    .vl-47 span.dots {
        top: 44px;
        left: -96px;
        width: 7px;
        height: 7px;
    }
    .vl-48 {
        margin-top: -33px;
        height: 64px;
        margin-left: 229px;
    }
    .vl-49 {
        margin-top: -35px;
        height: 48px;
        margin-left: 183px;
    }
    .vl-49 span.dots {
        top: 46px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .circle-2 {
        margin-top: 24px;
        margin-left: -99px;
    }
    .circle {
        margin-top: 45px;
        margin-left: -20px;
    }
}

@media only screen and (max-width: 800px) {
    p {
        margin-bottom: 100px;
    }
    .people {
        display: unset;
        margin-top: 100px;
    }
    .team-1, .team-2 {
        display: flex;
        justify-content: center;
    }
    .circle-image {
        height: 108px;
        width: 108px;
    }
    .circ {
        width: 139px;
        height: 139px;
        margin-top: -150px;
        margin-left: -16px;
    }
    .circle-2 {
        margin-top: 50px;
        margin-left: -18px;
    }
    .circle {
        margin-top: 88px;
        margin-left: -48px;
    }
    .team-2 {
        display: flex;
        justify-content: center;
        margin-top: 106px;
    }
}

@media only screen and (max-width: 700px) {
    p {
        font-size: 18px;
    }
    h2 {
        font-size: 25px;
    }
    .modal-content {
        width: 100%;
    }
}

h1 {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

h3 {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 14px;
        margin-bottom: 60px;
    }
    h2 {
        font-size: 18px;
    }
    .member {
        width: 60px;
        height: 55px;
    }
    .comb-1 .member:nth-child(1) {
        margin-left: 8px;
    }
    .comb-1 .member:nth-child(2) {
        margin-top: 20px;
        margin-left: 4px;
    }
    .comb-2 .member:nth-child(1) {
        margin-top: 8px;
    }
    .comb-3 .member:nth-child(1) {
        margin-top: 62px;
        margin-left: -21px;
    }
    .comb-3 .member:nth-child(2) {
        margin-top: 20px;
        margin-left: -20px;
    }
    .comb-3 .member:nth-child(3) {
        margin-left: -19px;
        margin-top: 33px;
    }
    .comb-4 .member:nth-child(1) {
        margin-left: -21px;
        margin-top: 7px;
    }
    .comb-5 .member:nth-child(1) {
        margin-top: -25px;
        margin-left: -4px;
    }
    .comb-5 .member:nth-child(2) {
        margin-top: 17px;
        margin-left: -4px;
    }
    .comb-6 .member:nth-child(1) {
        margin-top: -11px;
        margin-left: 21px;
    }
    .comb-6 .member:nth-child(2) {
        margin-top: 13px;
        margin-left: 21px;
    }
    .comb-6 .member:nth-child(3) {
        margin-top: 24px;
        margin-left: 22px;
    }
    .comb-7 .member:nth-child(3) {
        margin-top: 14px;
        margin-left: 0px;
    }
    .comb-7 .member:nth-child(1) {
        margin-top: -54px;
        margin-left: 0px;
    }
    .comb-8 .outer .member {
        margin-top: -12px;
    }
    .comb-8 .inter-1 .member:nth-child(2) {
        margin-top: -3px;
    }
    .comb-8 .inter-1 .member:nth-child(2) {
        margin-top: -42px;
        margin-left: 4px;
    }
    .comb-8 .inter-2 .member:nth-child(2) {
        margin-top: -29px;
        margin-left: 7px;
    }
    .comb-8 .inter-3 .member:nth-child(1) {
        margin-top: -25px;
        margin-left: -2px;
    }
    .vl {
        margin-top: 24px;
        height: 40px;
        margin-left: 69px;
    }
    .vl-3 {
        height: 49px;
        margin-left: 1px;
        margin-top: -62px;
    }
    .vl-4 {
        margin-top: -63px;
        margin-left: 69px;
        width: 10px;
        height: 38px;
    }
    .vl-5 {
        margin-top: -60px;
        height: 40px;
        margin-left: 38px;
        width: 10px;
    }
    .vl-6 {
        margin-top: -55px;
        margin-left: 69px;
        width: 10px;
        height: 40px;
    }
    .vl-7 {
        margin-top: -234px;
        height: 42px;
        margin-left: 29px;
    }
    .vl-8 {
        margin-top: -62px;
        height: 43px;
        margin-left: 63px;
        transform: rotate( 22deg);
    }
    .vl-9 {
        margin-top: -3px;
        height: 37px;
        margin-left: 63px;
    }
    .vl-10 {
        margin-top: -4px;
        height: 42px;
        margin-left: 62px;
        transform: rotate( 204deg);
    }
    .vl-11 {
        margin-top: -21px;
        height: 45px;
        margin-left: 31px;
    }
    .vl-12 {
        margin-top: -68px;
        height: 48px;
        margin-left: -4px;
        transform: rotate( 338deg);
    }
    .vl-13 {
        margin-top: -6px;
        height: 40px;
        margin-left: 62px;
    }
    .vl-14 {
        margin-top: -2px;
        height: 41px;
        margin-left: 65px;
    }
    .vl-15 {
        margin-top: -177px;
        height: 54px;
        margin-left: 12px;
    }
    .vl-16 {
        margin-top: -28px;
        height: 42px;
        margin-left: 46px;
    }
    .vl-17 {
        margin-top: -5px;
        height: 43px;
        margin-left: 47px;
    }
    .vl-18 {
        height: 50px;
        margin-top: -28px;
        margin-left: 13px;
    }
    .vl-19 {
        margin-top: -28px;
        height: 46px;
        margin-left: 46px;
    }
    .vl-20 {
        margin-top: -6px;
        height: 42px;
        margin-left: 46px;
        transform: rotate( 204deg);
    }
    .vl-21 {
        margin-top: -24px;
        height: 48px;
        margin-left: 11px;
    }
    .vl-22 {
        margin-top: -96px;
        height: 53px;
        margin-left: 9px;
    }
    .vl-23 {
        margin-top: -30px;
        height: 46px;
        margin-left: 46px;
    }
    .vl-24 {
        margin-top: -7px;
        height: 40px;
        margin-left: 47px;
    }
    .vl-25 {
        margin-top: -119px;
        height: 44px;
        margin-left: 46px;
    }
    .vl-26 {
        margin-top: 10px;
        height: 56px;
        margin-left: 84px;
    }
    .vl-27 {
        margin-top: -141px;
        height: 38px;
        margin-left: 20px;
    }
    .vl-28 {
        margin-top: -60px;
        height: 45px;
        margin-left: 50px;
    }
    .vl-29 {
        margin-top: -24px;
        height: 39px;
        margin-left: 81px;
    }
    .vl-30 {
        margin-top: -10px;
        height: 43px;
        margin-left: 29px;
    }
    .vl-31 {
        margin-top: -50px;
        height: 27px;
        margin-left: 59px;
        transform: rotate( 205deg);
    }
    .vl-32 {
        margin-top: -45px;
        margin-left: -5px;
        height: 44px;
    }
    .vl-33 {
        margin-top: -79px;
        margin-left: -5px;
        height: 43px;
    }
    .vl-34 {
        margin-top: -120px;
        height: 43px;
        margin-left: 27px;
    }
    .vl-35 {
        margin-top: -25px;
        height: 42px;
        margin-left: 61px;
    }
    .vl-36 {
        margin-top: -8px;
        height: 45px;
        margin-left: 61px;
    }
    .vl-37 {
        margin-top: -32px;
        height: 52px;
        margin-left: 29px;
    }
    .vl-38 {
        margin-top: -32px;
        transform: rotate( 145deg);
        height: 47px;
        margin-left: 63px;
    }
    .vl-39 {
        margin-top: -147px;
        height: 38px;
        margin-left: 61px;
    }
    .vl-40 {
        margin-top: -74px;
        height: 40px;
        margin-left: 61px;
    }
    .vl-41 {
        margin-top: -57px;
        height: 37px;
        margin-left: 35px;
    }
    .vl-42 {
        margin-top: -36px;
        margin-left: 170px;
        height: 39px;
    }
    .vl-43 {
        margin-top: -22px;
        height: 41px;
        margin-left: 142px;
    }
    .vl-44 {
        margin-top: -2px;
        height: 40px;
        margin-left: 141px;
    }
    .vl-45 {
        margin-top: -22px;
        height: 43px;
        margin-left: 173px;
    }
    .vl-46 {
        margin-top: -22px;
        height: 34px;
        margin-left: 142px;
    }
    .vl-47 {
        margin-top: -1px;
        height: 37px;
        margin-left: 141px;
    }
    .vl-48 {
        margin-top: -24px;
        height: 45px;
        margin-left: 175px;
    }
    .vl-49 {
        margin-top: -26px;
        height: 34px;
        margin-left: 143px;
    }
    .vl-3 span.dots:nth-child(2) {
        margin-top: 46px;
        margin-left: 66px;
        width: 7px;
        height: 7px;
    }
    .vl-3 span.dots:nth-child(1) {
        margin-top: -4px;
        margin-left: 66px;
        width: 7px;
        height: 7px;
    }
    .vl-9 span.dots {
        top: -2px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-15 span.dots {
        top: 49px;
        left: -3px;
        width: 7px;
        height: 7px;
    }
    .vl-25 span.dots {
        top: 40px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-28 span.dots {
        top: 38px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-30 span.dots {
        top: 42px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-30 span.dots:nth-child(2) {
        margin-top: -47px;
        margin-left: 1px;
        width: 7px;
        height: 7px;
    }
    .vl-31 span.dots {
        top: 26px;
        left: -1px;
        width: 7px;
        height: 7px;
    }
    .vl-32 span.dots {
        top: 117px;
        left: -1px;
        width: 7px;
        height: 7px;
    }
    .vl-33 span.dots {
        top: 38px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-34 span.dots {
        top: 40px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-40 span.dots {
        top: 37px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-41 span.dots {
        top: 36px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-42 span.dots {
        top: 35px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-43 span.dots {
        top: 37px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-44 span.dots {
        top: 38px;
        left: -3px;
        width: 7px;
        height: 7px;
    }
    .vl-45 span.dots {
        top: 66px;
        left: 4px;
        width: 7px;
        height: 7px;
    }
    .vl-46 span.dots {
        top: 33px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-47 span.dots {
        top: 54px;
        left: -111px;
        width: 7px;
        height: 7px;
    }
    .vl-48 span.dots {
        top: 43px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .vl-49 span.dots {
        top: 32px;
        left: -2px;
        width: 7px;
        height: 7px;
    }
    .circle-image {
        height: 88px;
        width: 88px;
    }
    .circ {
        width: 119px;
        height: 119px;
    }
}